---
layout: default
title: Axis of Stevil - It's the Beginning of Stevilization
excerpt: Delivering the best content from around the universe to your browser and email inbox every Monday, Wednesday, and Friday.
---

<script type="application/ld+json">
  {
  "@context": "http://schema.org/",
  "@type": "Organization",
  "url": "{{ '/' | prepend:site.url }}",
  "logo": "{{ '/img/logo-tile.png' | prepend:site.content_baseurl }}",
  "name": "{{ site.title }}",
  "founder": {
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "Steven Maguire",
    "email": "steven@axisofstevil.com",
    "url": "https://stevenmaguire.com"
  },
  "description": "{{ site.description }}",
  "sameAs" : [
    "https://www.facebook.com/groups/axisofstevil",
    "https://twitter.com/AxisofStevil",
    "https://plus.google.com/113891354311111693698"
  ]
  }
</script>

{% assign pageNumber = paginator.page | times: 1 %}
{% if pageNumber == 1 %}
<section>
    <div class="featured-publication">
        <h2>Just released</h2>
        {% assign post = site.posts.first %}
        {% include post-featured.html %}
    </div>
</section>
{% endif %}
<section>
    <div class="publication-list">
        <h2>Recently released</h2>
        {% for post in site.posts %}
            {% assign index = forloop.index | times: 1 %}
            {% if index > 1 or pageNumber > 1 %}
            {% include post-item.html %}
            {% endif %}
        {% endfor %}
    </div>
    {% comment %}
    {% include pagination.html %}
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    {% endcomment %}
</section>
<section class="hero" style="{{ site.default_hero_image_css }}" random-photo>
    <div class="foreground">
        <h1>Re-releasing epic content from more than 9 years ago.</h1>
        <p>Give us your email and we'll send you content every Monday, Wednesday and Friday.</p>
        {% include join.html %}
        <p>If you've got questions or comments, <a href="/contact">We'd love to hear from you</a>.</p>
    </div>
</section>
