<footer>
    <p>&copy; 2005-{{ site.time | date: '%Y' }} The Axis of Stevil, all rights reserved, all wrongs reversed. Please don't steal. <a href="/authenticity/">Beware of imitators</a><!-- and <a href="#">we are not hiring</a>-->.</p>
    <p>Get in touch with us with <a href="/contact/">a form on the internet</a> or <a href="https://axisofstevil.freshdesk.com/support/home">engage with the forum</a> or there's always <a href="https://twitter.com/AxisofStevil">twitter</a> and <a href="https://www.facebook.com/groups/axisofstevil/">the book of faces</a>.</p>
</footer>
<script src="//cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
<script src="http://rawgit.com/metafizzy/isotope-packery/master/packery-mode.pkgd.js"></script>
<script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.js"></script>
<script src="/scripts/spin.min.js"></script>
<script src="/scripts/ladda.min.js"></script>
<script src="/scripts/app.js"></script>
