<ul class="pagination">
    {% if paginator.previous_page %}
    <li class="arrow"><a href="{{ paginator.previous_page_path }}">&laquo;</a></li>
    {% else %}
    <li class="arrow unavailable"><a href="">&laquo;</a></li>
    {% endif %}
    <li class="current">Page: {{ paginator.page }} of {{ paginator.total_pages }}</li>
    {% if paginator.next_page %}
    <li class="arrow"><a href="{{ paginator.next_page_path }}">&raquo;</a></li>
    {% else %}
    <li class="arrow unavailable"><a href="">&raquo;</a></li>
    {% endif %}
</ul>
