<ul class="pagination">
    {% if paginator.previous_page %}
    <li class="arrow"><a href="{{ paginator.previous_page_path }}">&laquo;</a></li>
    {% else %}
    <li class="arrow unavailable"><a href="">&laquo;</a></li>
    {% endif %}
    <li class="current">Page: {{ paginator.page }} of {{ paginator.total_pages }}</li>
    {% if paginator.next_page %}
    <li class="arrow"><a href="{{ paginator.next_page_path }}">&raquo;</a></li>
    {% else %}
    <li class="arrow unavailable"><a href="">&raquo;</a></li>
    {% endif %}
</ul>

<!-- New pagination
<ul class="pagination">
<li><span class="button disabled">Prev</span></li>
<li><a href="#" class="page active">1</a></li>
<li><a href="#" class="page">2</a></li>
<li><a href="#" class="page">3</a></li>
<li><span>…</span></li>
<li><a href="#" class="page">8</a></li>
<li><a href="#" class="page">9</a></li>
<li><a href="#" class="page">10</a></li>
<li><a href="#" class="button">Next</a></li>
</ul>
-->
