{% if page.category == 'featured-steves' %}
<p>This illustrious organization was founded on the principle that everyone can be successful and have a voice to speak their ideas, even people who've been given a name as plain as one given to millions each year, <strong>Steve</strong>! Every so often, The Axis of Stevil takes pleasure in shining the proverbial spotlight on a Steve who shows excellence in their field.</p>
{% endif %}
{% if page.category == 'language' %}
<p><strong>The Axis of Stevil</strong> has many goals, one of which is to educate its followers. <strong>Speech and vocabulary</strong> are among the first impressions people gain about others. A person's memory will retain a lot of information about another person's speech. Among those, vocabulary rises to the top. Possessing a good vocabulary is as important as learning how to ride a bike. With or without it you will get to your destination, but with it you will get there much faster.</p>
{% endif %}
