<script src="//cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
<script src="https://rawgit.com/metafizzy/isotope-packery/master/packery-mode.pkgd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.0/imagesloaded.pkgd.min.js"></script>

<script src="/scripts/vendor/skel.min.js"></script>
<script src="/scripts/vendor/util.js"></script>
<!--[if lte IE 8]><script src="/scripts/vendor/ie/respond.min.js"></script><![endif]-->
<script src="/scripts/vendor/main.js"></script>

<script src="/scripts/hammer.min.js"></script>
<script src="/scripts/spin.min.js"></script>
<script src="/scripts/ladda.min.js"></script>
<script src="/scripts/app.js"></script>
