section {
    border-bottom: 0.1em #eeeeee solid;
    padding: 4% 5% 6% 5%;
    &.main-section {
        padding: 0 !important;
        border-bottom: none;
    }
    &.search {
        padding: 2%;
        .input {
             @include grid-column(8, $center:true);
        }
        input {
            margin: 0;
        }
    }
    article {
        padding-top: 1em;
        border-bottom: 1px solid #eee;
        &:last-child{
            border: none;
        }
        h2 {
            font-size: rem-calc(18);
            @media only screen and (min-width: 64.063em){
                font-size: rem-calc(24);
            }
        }
        p {
            $article-p-color: #bbb;
            font-size: 0.9em;
            color: $article-p-color;
            a {
                color: $article-p-color;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
            &.description {
                font-size: 1.25em;
                margin: 0;
            }
        }
    }
    .featured-publication {
        img {
            @include centered-image();
        }
    }
    &.publication {
        img {
            @include centered-image();
        }
    }
    &.comments {
        text-align: center;
        padding: 2% 5% 3% 5%;
        background: #efefef;
        p {
            color: #999;
            margin: 0;
            padding: 0;
        }
    }
    &.join {
        .prose {
            text-align: center;
        }
    }
}
