.button.mine {
    background: none !important;
    color: $primary-color;
    border-width: 2px;
    border-color: $primary-color;
    border-style: solid;

    &[disabled] {
        color: $primary-color;
    }
}

.social {
    padding: 10px 0px;
    .fb-like {
        vertical-align: top;
    }
    .fb_iframe_widget span {
        vertical-align: text-top !important;
    }
    .twitter-tweet-button{
        margin: 3px;
    }
}
