footer {
    padding: rem-calc(20);
    p {
        text-align: center;
        padding: 1em;
        color: #ccc;
        font-size: rem-calc(14);
        margin: 0;
        padding: rem-calc(3);
        @media only screen and (min-width: 64.063em){
            font-size: rem-calc(18);
        }
    }
    a {
        color: #bbb;
        text-decoration: underline;
    }
}
