form {
    .signup {
        @include grid-row();
        .input {
            @include grid-column(
                $columns:12
            );
            @media only screen and (min-width: 64.063em){
                @include grid-column(
                    $columns:9,
                    $center:true
                );
            }
        }

        .action {
            @include grid-column(
                $columns:12
            );
            @media only screen and (min-width: 64.063em){
                @include grid-column(
                    $columns:6,
                    $center:true
                );
            }
            .button {
                @include button(
                    $padding:rem-calc(8),
                    $full-width:true
                );
            }
        }
    }

    .contact {
        textarea {
            height: rem-calc(200);
        }
    }
}
