$alert-bottom-margin: rem-calc(0);
.messages {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1002;

    .message {
        @include alert();
        border: none;
        p {
            margin: 0;
            text-align: center;
        }

        &.success {
            background: rgba(68,186,85, 1);
        }

        &.warning {
            background: rgba(254,128,67, 1);
        }
    }
}
