<!DOCTYPE html>
<html>
    {% include head.html %}
    <body service-url="{{ site.service_url }}">
        {% include messages.html %}
        <!-- Wrapper -->
        <div id="wrapper">
            <!-- Main -->
            <div id="main">
                <div class="inner">
                    {% include header.html %}
                    {{ content }}
                </div>
            </div>
            {% include footer.html %}
        </div>
        {% include scripts.html %}
    </body>
</html>
