---
layout: default
---
<section class="publication">
    <header class="main">
        <h1>{{ page.title }}</h1>
        <p>{{ page.summary }}</p>
    </header>
    {% include posts/pre-roll.html %}
    {{ content | parse_flash }}
    {% include posts/notes.html %}
    {% if page.next.url or page.previous.url %}
    {% if page.next and page.previous %}
        {% capture links %}<a href="{{ page.previous.url | prepend: site.url }}" rel="prev" title="{{ page.previous.title }}">{{ page.previous.title }}</a> or <a href="{{ page.next.url | prepend: site.url }}" rel="next" title="{{ page.next.title }}">{{ page.next.title }}</a>{% endcapture %}
    {% elsif page.previous %}
        {% capture links %}<a href="{{ page.previous.url | prepend: site.url }}" rel="prev" title="{{ page.previous.title }}">{{ page.previous.title }}</a>{% endcapture %}
    {% else %}
        {% capture links %}<a href="{{ page.next.url | prepend: site.url }}" rel="next" title="{{ page.next.title }}">{{ page.next.title }}</a>{% endcapture %}
    {% endif %}
    <p class="read-on">If you'd like to keep reading we highly recommend {{ links }}.</p>
    {% endif %}
</section>
<section class="comments">
    {% include comments.html %}
    {% if page.hashtag %}
    <p>Commenting on this piece is encouraged elsewhere on the web with your group of friends. Feel free to use <a href="http://twitter.com/search?q={{ page.hashtag | uri_escape }}">{{ page.hashtag }}</a> or these here social media buttons.</p>
    <div class="social">
        <!-- facebook -->
        <div class="fb-like" data-href="{{ page.url | prepend: site.url }}" data-layout="button_count" data-action="like" data-share="true"></div>
        <!-- twitter -->
        <a href="https://twitter.com/intent/tweet?button_hashtag={{ page.hashtag | remove_first: "#" }}&text=Random%20insanity%20at%20it's%20finest..." class="twitter-hashtag-button" data-related="AxisofStevil" data-url="{{ page.url | prepend: site.url }}">Tweet {{ page.hashtag }}</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
    {% endif %}
</section>
<section class="join">
    <h2>There's more where this came from.</h2>
    <p>There are hundreds of publications queued for re-release and awaiting your affection. Give us your email and we'll send you content every <strong>Monday</strong>, <strong>Wednesday</strong> and <strong>Friday</strong>.</p>
    {% include join.html %}
</section>
